.vs/
.vscode/
.idea/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.streamlit/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints
notebooks/

# Environments
.env
.envrc
.venv
.venvs
env/
venv/
ENV/
env.bak/
venv.bak/


# C extensions
*.so
*.pkl
*.bin

# macOS display setting files
.DS_Store

# Terraform
terraform/*/.terraform/**
terraform/*/.terraform*
terraform/*/terraform.*


secrets.toml
/data/chroma

/data/chroma2
/data/UBER
default.sqlite
/merging_index
/sentence_index
/storage/AI
/storage
/data/cache
/data/faiss
/logs
*.log
/tests/rechdocia
/data/llama_index/
